.bg-colombia{
    background-color: #FFA700;
}

.bg-brasil{
    background-color: #009640;
}

.bg-vietnam{
    background-color: #E40421;
}

.bg-kenya{
    background-color: #FF4900;
}

.bg-papua{
    background-color: #E40421;
}

.bg-méxico{
    background-color: #009640;
}